body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(180deg,#050b16,#000);
    color:#fff;
}

header{
    background:linear-gradient(90deg,#001f3f,#003f7f);
    padding:40px;
    text-align:center;
    border-bottom:4px solid #f1c40f;
}

nav{
    background:#020b1a;
    padding:15px;
    text-align:center;
}

nav a{
    color:#1e90ff;
    text-decoration:none;
    font-weight:bold;
    margin:0 15px;
}

nav a:hover{
    color:#f1c40f;
}

.card{
    max-width:900px;
    margin:40px auto;
    background:#0b1628;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,.8);
    border-left:6px solid #f1c40f;
}

h1, h2{
    color:#f1c40f;
}

a{
    color:#1e90ff;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}
