body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(180deg,#050b16,#000000);
    color:white;
}

header{
    background:linear-gradient(90deg,#001f3f,#004080);
    padding:40px;
    text-align:center;
    border-bottom:4px solid #f1c40f;
}

nav{
    background:#020b1a;
    padding:15px;
    text-align:center;
}

nav a{
    color:#1e90ff;
    text-decoration:none;
    font-weight:bold;
    margin:0 15px;
}

nav a:hover{
    color:#f1c40f;
}

.card{
    max-width:900px;
    margin:40px auto;
    background:#0b1628;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,0.9);
    border-left:6px solid #f1c40f;
}

h1{
    color:#f1c40f;
}

a{
    color:#1e90ff;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}
.hero {
  background: linear-gradient(to right, #000814, #001d3d);
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .overlay {
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 52px;
  letter-spacing: 4px;
}

.hero p {
  font-size: 18px;
  color: gold;
}

.destaque {
  border-left: 6px solid gold;
}
